body {
    font-family: 'Crimson Text', 'Times New Roman', serif;
    background-color: #F2FFFC;
}

.titulo-principal {
    background-color: #851944;
    color: #FFF;
    text-align: center;
    border-bottom: 10px solid black;
}

h1,
h2 {
    font-family: 'Open Sans Condensed', 'Arial', sans-serif;
}

p {
    text-align: justify;
    line-height: 1.5;
    margin: 0;
}

a {
    color: inherit;
}

h1 {
    padding: 24px;
}

blockquote {
    padding: 16px;
    border: 10px solid #C2CCCA;
    margin: 0;
    width: 250px;
    height: 250px;
    box-sizing: border-box;
}

div {
    width: 720px;
    margin: auto;
}

aside {
    text-align: center;
}

li {
    display: inline-block;
}

.github {
    background-image: url("../img/github.png");
}

.twitter {
    background-image: url("../img/twitter.png");
}

.linkedin {
    background-image: url("../img/linkedin.png");
}

.icones-sociais a {
    width: 40px;
    height: 40px;
    display: inline-block;
    background-color: gray;
    text-indent: -9999px;
}